.container{
    height: 500px;
    width: 1000px;
    background-color:rgb(0, 0, 0);
    margin:10px auto;
    display: flex;
    flex-direction: row; /* right to left */
   /* justify-content: flex-end; /* flex end is left so all things will be aligned in left direction*/
    /* justify-content: space-evenly; */
  /* flex-wrap:wrap;
    /*align-items:center; /* now content in flex items is not on same line*/
   /* align-items: baseline;  /* now content in flex items is on same line i.e same baseline*/
   /* align-items:baseline; */

}
h1{
    text-align: center;
}
div{
    /* height: 50px; */
    width:300px;
    text-align: center;
    font-size: 1em;
}